:root {
  --primary-text-color: #161414;
  --secondary-text-color: #979797;
  --white-color: #ffffff;
  --icon-color: #ffa800;
  --black-color: #000000;
  --accent-color: #7b61ff;
  --red-color: #ff0000;
  --light-grey-color: #e5e5e5;
  --about-us-text: #5b5b5b;
  --footer-bg-color: #f9f9f9;
  --link-bg-color: #f6f4ff;
}

body {
  font-family: 'Poppins', sans-serif;
  color: var(--primary-text-color);
  background-color: var(--white-color);
}

.link {
  text-decoration: none;
}

.list {
  list-style-type: none;
}

button {
  font-family: inherit;
  cursor: pointer;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

input {
  font-family: inherit;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-top: 0;
  margin-bottom: 0;
}

ol,
ul {
  padding: 0;
  margin: 0;
}

.section {
  padding-bottom: 120px;
}

.container {
  width: 1440px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 40px;
  padding-right: 40px;
}

.title {
  font-weight: 600;
  font-size: 32px;
  line-height: 1.5;
  color: var(--primary-text-color);
}

.title-section-wrap {
  display: flex;
  justify-content: space-between;
  margin-bottom: 64px;
}

.view-link {
  display: flex;
  padding: 16px;
  background-color: var(--link-bg-color);
  border-radius: 12px;
  justify-content: center;
  align-items: center;
  column-gap: 4px;
}

.view-link-icon {
  width: 20px;
  height: 20px;
}

.page-header {
  padding-top: 32px;
  background-color: var(--primary-text-color); /* template*/
}

.page-header .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  display: block;
}

.logo-icon {
  width: 88px;
  height: 35px;
}

.page-navigation {
  /*  */
}

.menu-list {
  display: flex;
}

.menu-item {
  padding: 14px 24px;
}

.menu-link {
  display: block;
  font-size: 14px;
  line-height: 1.43;
  color: var(--white-color);
  opacity: 0.7;
  height: 100%;
}

.menu-link:hover,
.menu-link:focus {
  color: var(--accent-color);
}

.user {
  display: flex;
  column-gap: 8px;
  justify-content: center;
  align-items: center;
}

.user-name {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.43;
  text-align: end;
  color: var(--white-color);
}

.user-name span {
  color: var(--white-color);
  opacity: 0.7;
}

.page-hero {
  padding-top: 184px;
  padding-bottom: 184px;
  text-align: center;
  background-color: #161414; /* template*/
  background-image: url('../images/bg-image/bg-image@1x.png');
  background-repeat: no-repeat;
  background-position: bottom left;
}

.hero-title {
  margin-bottom: 32px;
  font-weight: 600;
  font-size: 48px;
  line-height: 1.29;
  color: var(--white-color);
}

.hero-link {
  display: block;
  font-weight: 500;
  font-size: 18px;
  line-height: 1;
  width: 272px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 184px;
  padding: 27px;
  color: var(--white-color);
  background: var(--accent-color);
  border-radius: 12px;
}

.form-wrap {
  width: 1140px;
  height: 88px;
  margin-left: auto;
  margin-right: auto;
  background-color: var(--white-color);
  border-radius: 12px;
}

.hero-search-form {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 8px;
  border-radius: 12px;
}

.input-thumb {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-width: 255px;
  height: 100%;
}

.input-thumb:first-child {
  width: 300px;
}

.hero-form-icon {
  position: absolute;
  top: 24px;
  left: 16px;
  width: 24px;
  height: 24px;
  fill: var(--icon-color);
}

.hero-form-input {
  display: block;
  font-size: 14px;
  line-height: 1.43;
  color: var(--secondary-text-color);
  padding: 14px 14px 38px 56px;
  /* min-width: 255px; */
  width: 100%;
  height: 100%;
  border: transparent;
  outline: none;
}

.hero-form-label {
  position: absolute;
  bottom: 16px;
  left: 56px;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.5;
  color: var(--primary-text-color);
}

.hero-form-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 60px;
  height: 60px;
  background-color: var(--accent-color);
  border-radius: 12px;
  border: transparent;
}

.hero-btn-icon {
  width: 24px;
  height: 24px;
}

.destinations {
  padding-top: 120px;
}

.destinations-title {
  margin-bottom: 64px;
}

.destinations-list {
  display: flex;
  flex-wrap: wrap;
  column-gap: 32px;
}

.destinations-item {
  width: calc((100% - 160px) / 6);
}

.destinations-img {
  margin-bottom: 8px;
  border-radius: 24px;
}

.destinations-name {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  color: var(--primary-text-color);
}

.destinations-place {
  font-size: 14px;
  line-height: 1.43;
  color: var(--secondary-text-color);
}

.hotels {
}

.hotels-wrap {
}

.hotels-title {
}

.hotels-link {
  font-size: 16px;
  line-height: 1;
  color: var(--accent-color);
}

.hotels-list {
  display: flex;
  flex-wrap: wrap;
  column-gap: 32px;
}

.hotel-item {
  width: calc((100% - 96px) / 4);
}

.hotel-img {
  border-radius: 24px;
  margin-bottom: 10px;
}

.hotel-location-icon {
  width: 16px;
  height: 16px;
}

.hotel-name {
  display: inline-block;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  margin-bottom: 12px;
  color: var(--primary-text-color);
}

.hotel-place {
  font-size: 14px;
  line-height: 1.43;
  color: var(--secondary-text-color);
}

.tours {
}

.tours-wrap {
}

.tours-title {
}

.tours-link {
  font-size: 16px;
  line-height: 1;
  color: var(--accent-color);
}

.tours-list {
  display: flex;
  flex-wrap: wrap;
  column-gap: 32px;
}

.tours-item {
  display: flex;
  column-gap: 32px;
  width: calc((100% - 32px) / 2);
}

.tours-description-thumb {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.tours-subtitle {
  font-weight: 600;
  font-size: 24px;
  line-height: 1.5;
  color: var(--primary-text-color);
}

.tours-text {
  font-size: 16px;
  line-height: 1.5;
  color: var(--secondary-text-color);
}

.tours-span {
  display: inline-flex;
  font-size: 12px;
  line-height: 1.33;
  justify-content: center;
  align-items: center;
  column-gap: 4px;
  color: var(--secondary-text-color);
}

.tours-span:not(:last-child) {
  margin-right: 24px;
}

.tours-icon {
  /* margin-right: 4px; */
  width: 16px;
  height: 16px;
}

.activities {
}

.activities-wrap {
}

.activities-title {
}

.activities-link {
  font-size: 16px;
  line-height: 1;
  color: var(--accent-color);
}

.activities-list {
  display: flex;
  column-gap: 32px;
}

.activities-list img {
  margin-bottom: 16px;
}

.activities-item {
  width: calc((100% - 96px) / 3);
}

.activities-subtitle {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  color: var(--primary-text-color);
}

.about-thumb {
  display: flex;
  column-gap: 32px;
  width: 1128px;
  margin-right: auto;
  margin-left: auto;
}

.about-text-wrap {
  padding-top: 88px;
  padding-bottom: 88px;
  width: 548px;
}

.about-title {
  margin-bottom: 32px;
}

.about-text {
  margin-bottom: 32px;
  font-size: 16px;
  line-height: 2;
  color: var(--about-us-text);
}

.about-link {
  display: flex;
  padding: 12px 10px;
  width: 133px;
  font-size: 16px;
  line-height: 1;
  column-gap: 4px;
  justify-content: center;
  align-items: center;
  color: var(--accent-color);
  background-color: var(--link-bg-color);
  border-radius: 12px;
}

.about-img {
  width: 548px;
  border-radius: 24px;
  overflow: hidden;
}

.page-footer {
  /* background-color: var(--footer-bg-color); */
  background-color: var(--primary-text-color);
  padding-top: 120px;
}

.footer-thumb {
  display: flex;
  justify-content: space-between;
  gap: 64px;
}

.footer-social-wrap {
  width: 354px;
}

.footer-logo {
  display: block;
  margin-bottom: 16px;
  color: var(--primary-text-color);
}

.footer-logo-icon {
  width: 88px;
  height: 35px;
}

.footer-text {
  margin-bottom: 32px;
  font-size: 14px;
  line-height: 1.43;
  color: var(--secondary-text-color);
}

.footer-social-list {
  display: flex;
  gap: 32px;
}

.footer-social-item {
}

.footer-social-link {
}

.footer-social-icon {
  width: 32px;
  height: 32px;
}

.footer-title {
  margin-bottom: 20px;
  font-weight: 500;
  font-size: 18px;
  line-height: 1.56;
  /* color: var(--primary-text-color); */
  color: var(--white-color);
}

.footer-list-wrap {
  width: 125px;
}

.footer-list {
}

.footer-item {
}

.footer-item:not(:last-child) {
  margin-bottom: 12px;
}

.footer-link {
  font-size: 14px;
  line-height: 1.43;
  color: var(--secondary-text-color);
}

.footer-sub-text {
  color: var(--white-color);
}

.footer-form {
  position: relative;
  display: flex;
  column-gap: 16px;
  background-color: var(--primary-text-color);
}

.subscribe-icon {
  position: absolute;
  top: 24px;
  left: 16px;
  width: 24px;
  height: 24px;
}

.form-input {
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  padding: 14px 14px 14px 56px;
  width: 300px;
  height: 72px;
  color: var(--primary-text-color);
  border-radius: 12px;
  border: transparent;
  outline: none;
  transition: color 250ms ease-in-out;
}

.form-input:hover,
.form-input:focus {
  border: 1px solid var(--accent-color);
}

.form-input::placeholder {
  font-size: 14px;
  line-height: 1.43;
  color: var(--secondary-text-color);
}

.form-button-submit {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 72px;
  height: 72px;
  background-color: var(--accent-color);
  border-radius: 12px;
  border: transparent;
}

.form-icon-submit {
  width: 24px;
  height: 24px;
}
